<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>임시 비밀번호</title>
	</head>
	<body>
		<div style="width: 100%; margin-top: 3rem; text-align: center;">
			<div style="width: 100%; display: flex; justify-content: center;">
				<div style="max-width: 37.5rem; width: 100%;">
					<h1 style="font-size: 1.5rem; margin-bottom: 1.25rem;">임시 비밀번호</h1>
					<p style="font-size: 1rem; line-height: 1.5; margin-top: 0;">안녕하세요. 썬더에듀입니다.</p>
					<!--/*@thymesVar id="tempPassword" type="java.lang.String"*/-->
					<p style="font-size: 1rem; line-height: 1.5; margin-top: 0.625rem;">임시 비밀번호는 <strong th:text="${tempPassword}" style="font-weight: bold;"></strong> 입니다.</p>
				</div>
			</div>
		</div>
	</body>
</html>
